.purchases-container {
    margin: auto!important;
}

.new-purchase {
    display: flex;
    justify-content: center;
    border-bottom-style: double;
    margin: 0px 3px 0px 3px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer{
    display: flex;
    justify-content: center;
}

.sub-header {
    border-bottom-style: double;
    margin: .5rem 3px 0px 3px;
    padding: 10px;
}

.not-confirmed-purchase{
    display: flex;
    justify-content: center;
}

.confirm-button{
    border-radius: 20px;
    margin: 10px 0px 10px 0px;
    padding: 15px;
    width: 200px;
}

