.loginCard {
    width: 30%;
    background-color: white;
    border-radius: 10%;
    margin: 10px;
    padding: 15px;
    margin-top:40px;
    margin-bottom: 30px;
}

@media screen and (min-width: 1024px){
    .loginCard{
        width:30%;
    }
}

@media screen and (max-width: 720px){
    .loginCard{
        width: 90%;
    }
}

@media screen and ( max-width: 1024px) and (min-width:600px){
    .loginCard{
        width:50%;
    }
}

.loginCardBody{
    padding: 1em;
}

.inputStyle{
    border-radius:5px;
    border-width: 2px;
    padding: 5px;
    margin:10px;
}